/*
 * https://ivannsu.github.io
 */

/* Universal Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Heading */
@font-face {
  font-family: "MarkaziText", sans-serif;
  src: url('../fonts/MarkaziText-Regular.ttf');
}

/* Article Body */
@font-face {
  font-family: "Philosopher", serif;
  src: url('../fonts/Philosopher-Regular.ttf');
}

/* Hand Writing */
@font-face {
  font-family: "Satisfy", cursive;
  src: url('../fonts/Satisfy-Regular.ttf');
}

body {
  font-family: "Philosopher", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Satisfy";
}

p {
  font-family: "Philosopher";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* NAVIGATION */
nav {
  width: 100%;
  padding:20px 0;
  background-color: white;
  position: fixed;
  box-shadow: 0 0 3px #CCCCCC;
}

nav ul {
  list-style-type: none;
  float: right;
  padding-top: 5px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  color: #666666;
}

a.brand {
  text-decoration: none;
  font-family: "MarkaziText";
  font-size: 1.5em;
  color: #000000;
}

/* HEADER */
header {
  background-color: grey;
  padding: 160px 0;
}

header h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

header p {
  font-size: 1.9em;
}

header h1,
header p {
  text-align: center;
}
