/*
 * https://ivannsu.github.io
 */

/* Universal Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Heading */
@font-face {
  font-family: "MarkaziText";
  src: url('../fonts/MarkaziText-Regular.ttf');
}

/* Article Body */
@font-face {
  font-family: "Philosopher";
  src: url('../fonts/Philosopher-Regular.ttf');
}

/* Hand Writing */
@font-face {
  font-family: "Satisfy";
  src: url('../fonts/Satisfy-Regular.ttf');
}

body {
  font-family: "Philosopher", sans-serif;
}

h1 {
  font-family: "Satisfy";
}

p {
  font-family: "Philosopher";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* NAVIGATION */
nav {
  width: 100%;
  height: 70px;
  padding:15px 0;
  background-color: white;
  position: fixed;
  box-shadow: 0 0 3px #CCCCCC;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  color: #666666;
  font-size: 20px;
  line-height: 35px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #000000;
}

a.brand {
  text-decoration: none;
  font-family: "MarkaziText";
  font-size: 2em;
  color: orange;
}

/* HEADER */
header {
  background-image: url('../images/dark_embroidery.png');
  background-repeat: repeat;
  padding: 160px 0;
  position: relative;
}

header h1 {
  font-size: 4em;
  margin-bottom: 20px;
  color: #f2f2f2;
  letter-spacing: 1px;
  font-weight: 500;
}

header p {
  font-size: 1.9em;
  color: #CCCCCC;
}

header h1,
header p {
  text-align: center;
}

.social-accounts {
  text-align: center;
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  bottom: 50px;
}

.social-accounts a {
  margin: 1px;
  color: white;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  background-color: teal;
  border-radius: 50%;
  font-size: 1.4em;
}

#profile, #blog {
  padding: 80px 0;
}

#profile h2,
#blog h2 {
  text-align: center;
  font-size: 2em;
  font-family: "MarkaziText";
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 3em;
}

.heading-line {
  width: 5%;
  height: 2px;
  background-color: orange;
  margin: 5px auto;
}

.grid {
  display: grid;
  width: 100%;
  height: auto;
}

.grid-box {
  padding: 0 15px;
}

.grid-1fr-1fr { grid-template-columns: 1fr 1fr;}
.grid-1fr-3fr { grid-template-columns: 1fr 1fr 1fr; }

#profile-left h3,
#profile-left p {
  text-align: center;
}

#profile-left h3 {
  font-size: 2em;
  margin-top: 35px;
  letter-spacing: 1px;
}

#profile-left p {
  font-size: 1.5em;
  margin-top: 10px;
}

#profile-right h3 {
  text-align: center;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 2px;
  margin-bottom: 30px;
}

#profile-right p {
  font-size: 1.4em;
}

#profile-img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  padding: 2px;
  border: 1px solid #CCCCCC;
  box-shadow: 0 6px 15px #CCCCCC;
}

.progress-container {
  width: 100%;
  height: 10px;
  background-color: #CCCCCC;
  margin: 10px 0;
  margin-bottom: 25px;
}

.progress {
  height: inherit;
  background-color: orange;
}

#blog {
  background-color: #f2f2f2;
}

.panel {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 7px #CCCCCC;
}

.panel-image {
  width: 100%;
  height: 200px;
  background-color: teal;
  border-radius: 5px 5px 0 0;
}

.panel .panel-body {
  padding: 15px 20px;
}

.panel h3 {
  letter-spacing: 1px;
  font-size: 1.3em;
  padding: 15px 20px 0 20px;
}

.panel h3 a {
  text-decoration: none;
  color: #262626;
}

.panel .panel-body {
  border-radius: 0 0 5px 5px;
  line-height: 1.2;
  font-size: 1.1em;
  color: #333333;
}

.panel .panel-meta {
  padding: 0 20px 15px 20px;
  font-weight: 600;
  color: #666666;
}

footer {
  width: 100%;
  padding: 25px;
  background-color: #000000;
}

footer p {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  .container {
    max-width: 480px;
  }

  a.brand {
    display: block;
    text-align: center;
    font-size: 2.4em;
  }

  nav {
    height: 110px;
  }

  nav ul {
    display: block;
    float: none;
    text-align: center;
  }

  header h1 {
    font-size: 3em;
  }

  header p {
    font-size: 1.3em;
  }

  .grid {
    grid-row-gap: 60px;
  }

  .grid-1fr-1fr { grid-template: 1fr / 1fr;}
  .grid-1fr-3fr {
    grid-template-columns: 1fr; grid-gap: 25px
  }

  #profile {
    padding: 25px 0;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .container {
    max-width: 600px;
  }
  .grid-1fr-3fr {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
  }
}

@media screen and (min-width: 1200px)  {
  .container {
    max-width: 1200px;
  }
}
