* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

#brand {
  margin: 40px auto;
  text-align: center;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 60px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px #cccccc;
}
.container h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 5px;
}

#choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#result h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  font-size: 2em;
  margin-bottom: 20px;
}

#select h2{
  margin-bottom: 40px;
}

#all-choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 70%;
}

#all-choices img {
  margin: auto;
}

#choices img,
#result img {
  max-width: 200px;
  padding: 20px;
  cursor: pointer;
  border-radius: 10%;
}
#choices img:hover,
#result img:hover {
  box-shadow: 0 0 5px teal;
}

#reset {
  display: block;
  border: 1px solid teal;
  padding: 10px 20px;
  font-size: 1em;
  background-color: white;
  color: teal;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin: auto;
  margin-top: 20px;
}

#reset:hover {
  border-color: transparent;
  background-color: teal;
  color: white;
}

#info {
  width: 200px;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -100px;
}