* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#brand {
  text-align: center;
  margin-top: 40px;
  font-size: 2.8em;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  max-width: 600px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 40px 40px;
  padding-bottom: 10px;
  box-shadow: 0 0 10px #cccccc;
  border-radius: 8px;
}

#todo-form {
  position: relative;
  padding-bottom: 60px;
}

#todo-form input {
  width: 80%;
  padding: 8px 12px;
  font-size: 1em;
  position: absolute;
  left: 0;
  border: 2px solid #cccccc;
}

#todo-form input:hover,
#todo-form input:focus {
  outline: none;
  border-color: teal;
}

#todo-form button {
  width: 20%;
  border: 2px solid teal;
  padding: 8px 12px;
  font-size: 1em;
  background-color: teal;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 0;
}

#data-empty {
  text-align: center;
  margin-bottom: 20px;
  display: none;
}

#data-container {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.row {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  line-height: 50px;
}

.row:nth-child(1),
.row:nth-child(3) {
  text-align: left;
}

#delete,
#check {
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

#delete:hover {
  background-color: crimson;
  color: white;
}
#check:hover {
  background-color: green;
  color: white;
}

/* #data-container tr {
  background: #cccccc;
}

#data-container tr td {
  padding-left: 5px;
}

#data-container tr td:nth-child(1) {
  text-align: center;
}
#data-container tr td:nth-child(3) {
  text-align: right;
} */